<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/chat.css}" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <p style="text-align: center">__님이 들어왔습니다</p>
        <div class="date">2023.09.17</div>

        <div class="chat ch1">
            <div class="textbox">안녕하세요. 반갑습니다.</div>
        </div>
        <div class="chat ch2">
            <div class="icon"></div>
            <div class="left">
                <p>효자손</p>
                <div class="textbox">안녕하세요. 친절한 효자손입니다. 그동안 잘 지내셨어요?</div>
            </div>
        </div>
        <div class="chat ch1">
            <div class="textbox">아유~ 너무요너무요! 요즘 어떻게 지내세요?</div>
        </div>
        <div class="chat ch2">
            <div class="icon"></div>
            <div class="left">
                <p>효자손</p>
                <div class="textbox">뭐~ 늘 똑같은 하루 하루를 보내는 중이에요. 코로나가 다시 극성이어서 모이지도 못하구 있군요 ㅠㅠ 얼른 좀 잠잠해졌으면 좋겠습니다요!</div>

            </div>
        </div>
    </div>
</body>
</html>