<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat list</title>
    <script type="text/javascript" th:src="@{/js/chat.js}" defer></script>
    <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>

</head>
<body>
    <ul th:each="room : ${chatList}">
        <li class="peopleCnt"></li>
        <li class="lastText"></li>
        <li class="textDate"></li>
        <li class="alarm"></li>
        <li class="roomName room" th:value="${room.roomId}" th:text="${room.roomName}"></li>
    </ul>
</body>
</html>